:root {
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #fff;
  --swiper-navigation-size: 25px !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background-color: var(--color-black);
  color: var(--color-white);
  overflow-x: hidden;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
.css-1q2h7u5.Mui-selected {
  color: var(--color-primary) !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: var(--color-white) !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: var(--color-primary) !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: var(--color-primary) !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--color-white);
  font-weight: bold;
}
.swiper-button-next::after {
  padding-left: 5px;
}
.swiper-button-prev::after {
  padding-right: 5px;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  visibility: hidden;
}
